@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: whitesmoke;
    
}

body{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}

html{
  
   scroll-behavior: smooth; 
   
}


header{
    
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color:teal
}

ul,li,a{
    color: rgb(90, 88, 88);
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
}

.apartados{
    margin: 20px;
    display: inline-block;
    font-size: 18px;
    color: rgb(16, 124, 128);
    text-decoration: none;
}

.apartados:hover{
    transition: ease-in-out 0.3s;
    transform: scale(1.2) rotate(0deg);
    color: rgb(15, 183, 189);
}

.imglogo{
    height: 89px;
    margin-left: 21px;
}

.main_logo{
    
    height: 750px;
    position: relative;
    align-items: center;
    
}

#main_img{
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;
    width: 20%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

#gif_menu{
    height: inherit;
    width: 100%;
    object-fit: cover;
    
}

.cont_caracteristicas{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 1%;
}

.caracteristicas{    
    font-size: 210%;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    color: rgb(90, 88, 88);
    align-self: center;
}

.imagenes{
    display: flex;
    justify-content: space-evenly;
}



.palabras_img{
    display: flex;
    
}

.section_caracteristicas{
    display: flex;
    justify-content: space-evenly;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    color: rgb(16, 124, 128);
    font-weight: bolder;
}
 
.imagenes img{
    width: 20%;
}


.contendor_title_bienvenida{
    align-self: center;
    width: 50%;
    text-align: center;
    margin-left: 3%;
    
}

#tittle_bienvenida{
    
    font-family: 'Itim', cursive;
    font-size: 300%;
    background-color: whitesmoke;  
    color: teal; 
    
}

.text_contenido {
    margin: 1%;
    width: 70%;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}


.contenido_main{
    display: flex;
    font-size: 10px;
    text-align: center;
}

.imagen_bienvenida {

    width: 55%;
    display: grid;
    align-content: center;
}
.imagen_bienvenida img{
    width: 100%;
    
}



.contenido_main  p{
    margin: 1%;
    font-size: 20px;
    line-height: 2;
    width: 100%;
    min-width: 69%;
    min-height: 91%;
    
    
    
}

.cont_modo_juego{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 212, 212);
    
}

.modo_juego h1{
    font-family: 'Itim', cursive;
    font-size: 40px;
    text-align: center;
    margin: 3%;
    color: teal;
    
}

#tittle_cont_modo_juego{
    font-family: 'Itim', cursive;
    
    font-size: 60px;
    background-color: whitesmoke;
    border-radius: 3%;
    margin: 1%;

}

.cont_rango p{
    display: flex;
    background-color: rgb(214, 212, 212);
    border-radius: 3%;
    margin-left: 2%;
}

.cont_modo_juego img{
    margin: 1%;
    border-radius: 3%;
    align-self: center;
}

.cont_rango{
    display: flex;
    flex-direction: row;
    background-color: rgb(214, 212, 212);
    
}

.rangos{
    display: flex;
    margin-left: 2%;
    background-color: rgb(214, 212, 212);
}

.rangos p{
    background-color: rgb(214, 212, 212);
    font-size: 17px;
    text-align: center;
}

.rango{
    text-align: center;
    width: fit-content;;
    margin: 2%;
    background-color: rgb(214, 212, 212);;
}

h5{
    background-color:  rgb(214, 212, 212);;
}
#img_rango {
    width: 90px;
    height: 150px;
    background-color: rgb(214, 212, 212);
}
    
.leyendas{
    display: contents;
}


#leyendas_tittle{
    font-family: 'Itim', cursive;
     text-align: center;
     padding-top: 50px;
     font-size: 30px;
     color: teal;
}

.contenedor_personaje{
    display: flex;
    text-align: center;
    margin: 5%;
    padding: 1%;
    align-content: center;
    width: fit-content;
    background-color: rgb(201, 192, 192);
}

.contenedor_personaje a{
    margin-bottom: 16px;
}
.leyendas img{
    height: 200px;
}

.leyendas h3 , h1{
    font-family: 'Itim', cursive;
    font-size: 35px;
    text-align: center;
    color: teal;
}

.leyendas p{
    padding: 2%;
    
}

.contenedor_personaje_crossover{
    width: inherit;
    margin: 5%;
    padding: 1%;
    background-color: rgb(201, 192, 192);   
}

.contenedor_personaje_crossover img{
    margin: 1.4%;
    height: 130px;
    width: 130px;
}

.contenedor_personaje_crossover a{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
}

.contenedor_personaje_crossover h3{
    margin: 2%;
}


.contenedor_personaje:hover{
    
    transition: ease-in-out 0.3s;
    transform: scale(1.1) rotate(0deg);
}

.contenedor_personaje_crossover:hover{
    transition: ease-in-out 0.3s;
    transform: scale(1.2) rotate(0deg);
}

#footer_img{
    align-items: center;
    width: 50%;
    margin: 5%;
}



#logo_footer{
    width: 70%;
    margin-bottom: 10%;

}

.row a{
    margin: 1%;
    display: contents;
}

.enlaces_footer{
    margin-left: -80px;
}

#logo_red_social{
    width: 30px;
}

/* media queris */

@media (min-width: 727px) and (max-width: 950px){

.cont_rango{
    display: grid;
    justify-items: center;
}

.cont_modo_juego img {
    width: 80%;
    
}

.rangos{
    display: flex;
    flex-wrap: wrap;
}
}

@media (min-width: 10px) and (max-width: 726px){

    .contenido_pagina{
        display: grid;
        justify-items: center;

    }

    .contenido_main{
        display: grid;
        justify-items: center;
    }


    .cont_rango{
        display: grid;
        justify-items: center;
    }
    
    .cont_modo_juego img {
        width: 80%;
        
    }
    
    .rangos{
        display: flex;
        flex-wrap: wrap;
    }
}

